<a href="https://colab.research.google.com/github/BinduPriyaJadav/SQL-Queries-for-IMDb-Dataset-Analysis/blob/main/sql_query_on_imdb_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

SQL QUERY ON IMDB DATASET

In [ ]:
#IMPORTING LIBRARIES
import numpy as np #it is for mathematical operations
import pandas as pd #it is for data manipulation
import seaborn as sns #it is for data visualization
import sqlite3 # it is a server-less database

In [ ]:
import sqlite3

# Update with the correct path
file_path = r"C:\Users\91832\Downloads\movie.sqlite\movie.sqlite"

# Check if the file exists
import os
if not os.path.exists(file_path):
    print(f"File does not exist: {file_path}")
else:
    try:
        # Attempt to connect to the database
        con = sqlite3.connect(file_path)
        cur = con.cursor()
        print("Connection successful!")
    except sqlite3.OperationalError as e:
        print(f"Error: {e}")
    finally:
        if con:
            con.close()

File does not exist: C:\Users\91832\Downloads\movie.sqlite\movie.sqlite

In [ ]:
#Now import data then establish a connection to sqlite3 by creating connection object
db="C:/Users/91832/Downloads/archive (1)/movie.sqlite"


connection = sqlite3.connect(db)
cursor1 = connection.cursor()

OperationalError: unable to open database file

In [ ]:
#all data about movies
cursor1.execute('SELECT * FROM movies')
movies =cursor1.fetchall()
movies = pd.DataFrame(movies, columns = ['id', 'original_title', 'budget', 'popularity', 'release_date', 'revenue', 'title', 'vote_average', 'vote_count', 'overview', 'tagline', 'uid', 'director_id'])

OperationalError: no such table: movies

In [ ]:
movies